.services
{
    background: #1F2138;
}
.heading
{
    color: #fff;
    font-size: 48px;
    font-weight: 600;
    letter-spacing: 3px;
    margin-bottom: 5px;
    font-family: "rubik-bold";
    text-align: center;
}
.text
{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
    font-family: "rubik-bold";
}
.gallery
{
    background: #3f8ffc;
    padding: 100px;
    padding-top: 300px;
    margin-top: -300px;
    justify-content: space-between;
    align-items: center;
}
hr {
    position: relative;
    left: 40%;
    width: 20%;
    border: 0;
    height: 2px;
    margin: 0 0 40px 0;
    background-color: #fff;
    border-radius: 5px;
}
.gallery img
{
    text-align: center;
    padding: 20px 80px 0 80px;
}

@font-face {
    font-family: "rubik-bold";
    src: url("../../Assets/fonts/Rubik-Bold.ttf");
  }
  @font-face {
    font-family: "rubik-regular";
    src: url("../../Assets/fonts/Rubik-Regular.ttf");
  }
  @font-face {
    font-family: "roboto-medium";
    src: url("../../Assets/fonts/Roboto-Medium.ttf");
  }
  @font-face {
    font-family: "rum";
    src: url("../../Assets/fonts/RumRaisin-Regular.ttf");
  }