.services {
  margin: 0;
  padding: 0;
  display: flex;
  height: 683px;
}
.services-txt {
  width: 50%;
  height: 100%;
  background: #3f3d56;
}
.services-header {
  font-family: "rubik-bold";
  font-size: 48px;
  color: #fff;
  padding: 5rem 5rem 0rem 5rem;
}
.services-paragraph {
  font-family: "rubik-bold";
  font-size: 18px;
  padding: 4rem;
  padding-right: 5rem;
  color: #d0cfcf;
  line-height: 140%;
}
.services-img {
  margin: 0;
  padding: 0;
  width: 50%;
  height: 100%;
  background: #9935c8;
  display: flex;
  justify-content: center;
  align-items: center;
}
