* {
  margin: 0;
  padding: 0;
}
/* .navbar {
  background-color: rgb(0, 0, 0);
  display: grid;
  padding: 10px;
  grid-template-columns: 3fr 2fr;
  justify-content: flex-end;
  position: fixed;
} */
.container-nav {
  position: fixed;
  width: 100vw;
  background: transparent;
  transition: 1s;
}
.scroll{
  transition: 1s;
  background-color: black;
}
.nav {

  display: flex;
  justify-content: space-between;
  padding: 10px;
}
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.nav-list li {
  display: inline-block;
  padding: 0px 50px;
}
.nav-list span {
  padding: 0px 10px;
  color: white;

}

.nav-background {
  background-color: rgba(255, 255, 255, 0);
}
.active {
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(50px);
}

.active-link {
  padding: 5px;
  border-bottom: rgb(255, 238, 0) 3px solid;
}

.nav-brand {
  margin-top: 5px;
  margin-left: 30px;
}
