* {
  margin: 0px;
  padding: 0px;
}
button {
  outline: none;
}
button:hover {
  outline: none;
}
button:focus {
  outline: none;
}
button:active {
  outline: none;
}
input {
  outline: none;
}
input:hover {
  outline: none;
}
input:focus {
  outline: none;
}
input:active {
  outline: none;
}
